:root {
  --gray: #F5EAEA;
  --yellow: #FFB84C;
  --salmon: #F16767;
  --purple: #A459D1;
  --font: 'Signika Negative', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: var(--font);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 30px;
}

a {
  color: var(--salmon);
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: var(--yellow);
}

p {
  margin: 0;
}

.main-border {
  border: 2px solid var(--yellow);
  border-radius: 10px;
  padding: 50px;
  max-height: 85vh;
  overflow-y: scroll;
}

.input {
  font-size: 15px;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  border: none;
  background-color: var(--salmon);
  padding: 5px;
  font-family: var(--font);
  font-size: 16px;
  color: #fff;
}

.button:hover {
  background-color: var(--purple);
}

.error {
  color: var(--purple);
}

.student-view-grades {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--yellow);
  padding: 10px;
  gap: 15px;
}

.student-view-grades:nth-child(even) {
   background-color: #F16767;
}

.back-button {
  margin-top: 10px;
  display: block;
}

.all-students-container {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.display-block {
  display: block;
}

.all-students-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.all-students-button {
  height: 50px;
}

.course-admin:nth-child(odd){
  background-color: var(--yellow);
}
.course-admin:nth-child(even){
  background-color: var(--gray);
}
.course-admin > p {
  margin: 0;
} 

.course-admin {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.course-table-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 10px;
}

.course-table-row:nth-child(odd) {
  background-color: var(--yellow);
}

.course-table-row:nth-child(even){
  background-color: var(--gray);
}

.two-colors-table {
  margin-bottom: 15px;
}

.margin-right {
  margin-right: 10px;
}

.display-flex {
  display: flex;
  gap: 20px;
}
